Screen {
    layers: base;
}

#output {
    height: 1fr;
    border: none;
    scrollbar-gutter: stable;
}

#input-bar {
    height: auto;
    border-top: none;
    padding: 0 ;
}

#prompt {
    width: 3;
    padding: 1 0;
}

#user-input {
    height: 1;
    border: none;
    background: $background;
    }

#user-input:focus {
    border: none;
}